.container
  background: #6865F7
  padding: 1.4rem

  .ul
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    list-style: none
    gap: 2rem

    .title
      display: flex
      flex-wrap: wrap
      align-items: center
      gap: 0.6rem
      margin-bottom: 0.4rem
      p
        font-family: outfit-c, serif
        font-size: calc(var(--index) * 1.4)

    .text
      font-family: raleway-c, serif
      font-size: calc(var(--index) * 1)
      letter-spacing: 0.01rem
      color: #FAFAFA
      text-decoration: none
      padding-left: 0.3rem




    //li
    //  margin-bottom: 0.9rem
    //  span
    //    font-family: outfit-c, serif
    //    font-size: calc(var(--index) * 1.2)
    //    font-weight: bold
    //    color: #6865F7
    //    text-transform: uppercase
