* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --index: calc(1vw + 1vh);
  --color-header: #f4efec;
  --color-text: #cdc6c3;
  --gallery-gap: calc(var(--index) * 7.5)
}

@font-face {
  font-family: outfit-c;
  src: url(/fonts/outfit-regular.woff2);
}

h1 {
  font-family: outfit-c, serif;
}

.content, .hero, .main-header, .gallery > * {
  will-change: transform;
}

body {
  background: #13151a;
  color: #b4b8c6;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}